@import "tailwindcss";
@plugin "@tailwindcss/typography";

canvas {
  outline: none;
}

@layer components {
  .surface {
    @apply bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100 shadow dark:shadow-gray-700;
  }

  .highlight {
    @apply hover:bg-gray-900 dark:hover:bg-gray-300 hover:text-gray-100 dark:hover:text-gray-900;
  }

  button {
    @apply cursor-pointer rounded-md border px-6 py-2 text-sm font-semibold;
    @apply bg-gray-900 text-gray-100 border-gray-200 hover:bg-gray-100 hover:text-gray-900  hover:border-gray-900;
    @apply dark:bg-gray-100 dark:text-gray-900 dark:border-gray-800 dark:hover:bg-gray-900 dark:hover:text-gray-100  dark:hover:border-gray-200;
  }
}
